input {
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: transparent;
   font-size: 1.1rem;
   border: none;
   border-bottom: medium solid var(--second-color);
   padding: 1rem;
}
input:focus {
   outline: thin solid var(--main-color);
   background-color: rgba(36, 49, 49, 0.233);
}
input::placeholder {
   color: var(--second-color);
}