.icon-container {
   font-size: 1.5rem;
   border: thin solid var(--main-color);
   border-radius: 50%;
   height: 2rem;
   width: 2rem;
   display: flex;
   justify-content: center;
   background-color: var(--second-color-active);
   align-items: center;
   cursor: pointer;
}
.icon-container-check {
   color: var(--valid-color);
   transform: translateX(.2rem);
}
.icon-container-check--active {
   color: var(--valid-color-active);
   border-bottom: thin solid var(--valid-color-active);
}
.icon-container-delete {
   color: var(--invalid-color);
   transform: translateY(-1.2rem);
}
.icon-svg {
   width: 24px;
   height: 24px;
   transition: transform .3s ease-in;
}
.icon-container-check:hover .icon-svg {
   fill: green;
   transform: scale(1.3);
}
.icon-container-delete:hover .icon-svg {
   fill: red;
   transform: scale(1.3);
}